.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
ch 5.html
ch 5.qmd
ch 5_files
ch 6.html
ch 6.qmd
ch 6_files
slides
misc_notes.txt
textual-analysis.html
textual-analysis.qmd
textual-analysis_files
scrap-work.R